/* Reset default browser styles */
body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f5f6; /* Light gray background */
    color: #333; /* Dark gray text */
}

header {
    background-color: #001b87; /* Navy blue header */
    color: #fff; /* White text */
    padding: 20px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

footer {
    background-color: #001b87; /* Navy blue footer */
    color: #fff; /* White footer text */
    padding: 10px 0px;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

footer p {
    margin: 0; /* Remove default margin */
}

.social-icons {
    display: inline-block;
}

.social-icons a {
    display: inline-block;
}

.social-icons:not(:first-child) img {
    margin-left: 30px;
}

.social-icons img {
    width: 22px; /* Adjust icon size */
    height: auto;
    filter: brightness(0.95);
}

/* CSS for Contact Form Layout */
#fs-frm {
    width: 100%;
    max-width: 400px; /* Adjust the width as needed */
    margin: auto;
}

#fs-frm fieldset {
    margin: 0;
    padding: 0;
    border: none;
}

#fs-frm label {
    display: block;
    margin-bottom: 10px;
    color: #333; /* Dark gray text */
}

#fs-frm input[type="text"],
#fs-frm input[type="email"],
#fs-frm textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

#fs-frm textarea {
    height: 150px; /* Adjust the height as needed */
}

#fs-frm input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #001b87; /* Navy blue button */
    color: #fff; /* White text */
    border-radius: 5px;
    cursor: pointer;
}

/* Responsive Layout */
@media (max-width: 600px) {
    #fs-frm {
        max-width: 300px;
    }
}
