# Ignore node_modules directory
node_modules/

# Ignore .DS_Store files (macOS)
.DS_Store

# Ignore any compiled files
*.min.js
*.min.css

# Ignore any temporary files
*.tmp
*.temp

# Ignore any files generated during development or build process
/dist
/out
/build

# Ignore any sensitive or environment-specific files
.env
.env.local
.env.*.local

# Ignore any editor or IDE configuration files
.vscode/
.idea/
*.sublime-*

# Ignore log files
*.log

# Ignore npm-debug.log files
npm-debug.log*
